<!DOCTYPE html>
<html lang = "en" >
<head >
    <meta charset = "UTF-8" >
    <title >My CS Book List</title >
</head >
<body >

<form action = "" method="post" >
    <h2>O'Reilly Book List</h2>
    <button type = "submit" id="get_orielly">GET</button >
    <button type = "submit" id="post_orielly">POST</button >
    <button type = "submit" id="put_orielly">PUT</button >

    <label for = "oreilly_book_title" >Book Title:</label ><input type = "text" name = "oreilly_book_title" id = "oreilly_book_title" >
    <label for = "oreilly_author" >Author:</label ><input type = "text" name = "oreilly_author" id = "oreilly_author" >
    <label for = "oreilly_isbn" >ISBN:</label ><input type = "text" name = "oreilly_isbn" id = "oreilly_isbn" >
    <label for = "oreilly_subject" >Subject:</label ><input type = "text" name = "oreilly_subject" id = "oreilly_subject" >
    <label for = "oreilly_edition" >Edition:</label ><input type = "text" name = "oreilly_edition" id = "oreilly_edition" >
    <label for = "oreilly_year" >Year:</label ><input type = "text" name = "oreilly_year" id = "oreilly_year" >
</form >

<form action = "" method="post" >
    <h2>Murach Book List</h2>
    <label for = "murach_book_title" >Book Title:</label ><input type = "text" name = "murach_book_title" id = "murach_book_title" >
    <label for = "murach_author" >Author:</label ><input type = "text" name = "murach_author" id = "murach_author" >
    <label for = "murach_isbn" >ISBN:</label ><input type = "text" name = "murach_isbn" id = "murach_isbn" >
    <label for = "murach_subject" >Subject:</label ><input type = "text" name = "murach_subject" id = "murach_subject" >
    <label for = "murach_edition" >Edition:</label ><input type = "text" name = "murach_edition" id = "murach_edition" >
    <label for = "murach_year" >Year:</label ><input type = "text" name = "murach_year" id = "murach_year" >
</form >

<form action = "" method="post" >
    <h2>Dummies_cis Book List</h2>
    <label for = "dummies_book_title" >Book Title:</label ><input type = "text" name = "dummies_book_title" id = "dummies_book_title" >
    <label for = "dummies_author" >Author:</label ><input type = "text" name = "dummies_author" id = "dummies_author" >
    <label for = "dummies_isbn" >ISBN:</label ><input type = "text" name = "dummies_isbn" id = "dummies_isbn" >
    <label for = "dummies_subject" >Subject:</label ><input type = "text" name = "dummies_subject" id = "dummies_subject" >
    <label for = "dummies_edition" >Edition:</label ><input type = "text" name = "dummies_edition" id = "dummies_edition" >
    <label for = "dummies_year" >Year:</label ><input type = "text" name = "dummies_year" id = "dummies_year" >
    
    
</form >

</body >
</html >