<!DOCTYPE html>
<html lang = "en" >
<head >
    <meta charset = "UTF-8" >
    <title >Title</title >
</head >
<body >

<form action = "" method="post" >
    <h2>Skeletal System</h2>
    <label for = "bone_name" >Bone Name:</label ><input type = "text" name = "bone_name" id = "bone_name" >
    <button type = "submit" id="get">GET</button >
    <button type = "submit" id="post">POST</button >
    <button type = "submit" id="put">PUT</button >
</form >

<form action = "" method="post" >
    <h2>Muscular System</h2>
    <label for = "muscle_name" >Muscle Name:</label ><input type = "text" name = "muscle_name" id = "muscle_name" >
    <label for = "muscle_insertion" >Muscle Attachment:</label ><input type = "text" name = "muscle_insertion" id =
        "muscle_insertion" >
    <label for = "muscle_action" >Muscle Action:</label ><input type = "text" name = "muscle_action" id =
        "muscle_action" >
    <button type = "submit" id="get">GET</button >
    <button type = "submit" id="post">POST</button >
    <button type = "submit" id="put">PUT</button >
</form >

<form action = "" method="post" >
    <h2>Physiology</h2>
    <label for = "system_name" >System Name:</label ><input type = "text" name = "system_name" id = "system_name" >
    <label for = "system_function" >System Function:</label ><input type = "text" name = "system_function" id =
        "system_function" >
    <button type = "submit" id="get">GET</button >
    <button type = "submit" id="post">POST</button >
    <button type = "submit" id="put">PUT</button >
</form >

</body >
</html >